@page "/Product/List"
@using Sample.BlazorServer.Endpoints
@inject IProductRepository _productRepo
<div class="card">
    <div class="card-body">
        <a href="/Product/Create">Add New Product</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (products == null || products.Count() <= 0)

                {
                    <tr>
                        <th colspan="5">No Record Found!</th>
                    </tr>
                }
                else
                {


                    @foreach (var item in products)
                    {
                        <tr>
                            <th scope="row">1</th>
                            <td>@item.ProductName</td>
                            <td>@item.ProductCategory</td>
                            <td>@item.ProductDescription</td>
                            <td><a href="/Product/Edit/@item.ProductId">Edit Product</a></td>
                            <td><a href="/Product/Delete/@item.ProductId">Delete Product</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@code {
    private IList<ProductDTO> products;

    protected override async Task OnInitializedAsync()
    {
        
        string apiUrl =  StaticEndpoints.GetProductsEndpoint;
        products = await _productRepo.GetAll(apiUrl);
    }
}
